
.tab-controls > button > span {
	display: inline-block;
}

.tab-controls span + .text:before {
	content: "\00a0";
}

.tab-controls button { 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	
	border: solid 1px #0F0;
	border-radius: 0;
	padding: 0;
	
}

header { display: none;}


/*********************
 ICONS
**********************/

.plus-icon {
	--plus-icon-margin: 0.2em;
	--plus-icon-girth: 0.1875em;
	display: inline-block;
	position: relative;
	width: calc(1em - 2 * var(--plus-icon-margin));
	height: 1em;
}
.plus-icon:before, 
.plus-icon:after {
	content: "";
	box-sizing: border-box;
	display: inline-block;
	background: currentColor;
	position: absolute;
}
.plus-icon:before {
	/* horizongtal bar */
	width: calc(1em - 2 * var(--plus-icon-margin));
	height: var(--plus-icon-girth);
	top: calc(0.5em - 0.5 * var(--plus-icon-girth));
	left: 0;
}
.plus-icon:after {
	/* vertical bar */
	width: var(--plus-icon-girth);
	height: calc(1em - 2 * var(--plus-icon-margin));
	top: var(--plus-icon-margin);
	left: calc(50% - 0.5 * var(--plus-icon-girth));
}

.previous-icon,
.next-icon {
	--icon-girth: 0.1875em;
	--icon-side: 0.5em;
	--root-2: 1.4142;
	--icon-actual-width: calc(var(--icon-side) * var(--root-2) / 2 + var(--icon-girth) * var(--root-2) / 2 + 0.75px);

	display: inline-block;
	position: relative;
	width: var(--icon-actual-width);
	height: 1em;
}
.previous-icon:before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	height: var(--icon-side);
	width: var(--icon-side);
	top: calc(50% - var(--icon-side) / 2);
	left: calc(50% - var(--icon-actual-width) / 2 + var(--icon-girth) * var(--root-2) / 2);
	border: solid var(--icon-girth);
	border-right: transparent;
	border-top: transparent;
	transform: rotate(45deg);
}
.next-icon:before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	height: var(--icon-side);
	width: var(--icon-side);
	top: calc(50% - var(--icon-side) / 2);
	right: calc(50% - var(--icon-actual-width) / 2 + var(--icon-girth) * var(--root-2) / 2);
	border: solid var(--icon-girth);
	border-right: transparent;
	border-top: transparent;
	transform: rotate(225deg);
}

/* 25.1333
15.2


33.9333/24 1.41388

full width: 0.5em

fw rotated: 1.4142 * 0.5em



*/


/*********************
 FROM WAI-ARIA
**********************/

.tabs {
	width: 20em;
	font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
	margin: 0 0 -0.1em;
	overflow: visible;
}

[role="tab"] {
	position: relative;
	margin: 0;
	padding: 0.3em 0.5em 0.4em;
	border: 1px solid hsl(219, 1%, 72%);
	border-radius: 0.2em 0.2em 0 0;
	box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	background: hsl(220, 20%, 94%);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
	position: absolute;
	bottom: 100%;
	right: -1px;
	left: -1px;
	border-radius: 0.2em 0.2em 0 0;
	border-top: 3px solid hsl(20, 96%, 48%);
	content: '';
}

[role="tab"][aria-selected="true"] {
	border-radius: 0;
	background: hsl(220, 43%, 99%);
	outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
	border-top: 5px solid hsl(218, 96%, 48%);
}

[role="tab"][aria-selected="true"]::after {
	position: absolute;
	z-index: 3;
	bottom: -1px;
	right: 0;
	left: 0;
	height: 0.3em;
	background: hsl(220, 43%, 99%);
	box-shadow: none;
	content: '';
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
	outline: 0;
	border-radius: 0;
	color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
	border-color: hsl(20, 96%, 48%);
}

[role="tabpanel"] {
	position: relative;
	z-index: 2;
	padding: 0.5em 0.5em 0.7em;
	border: 1px solid hsl(219, 1%, 72%);
	border-radius: 0 0.2em 0.2em 0.2em;
	box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
	background: hsl(220, 43%, 99%);
}

[role="tabpanel"]:focus {
	border-color: hsl(20, 96%, 48%);
	box-shadow: 0 0 0.2em hsl(20, 96%, 48%);
	outline: 0;
}

[role="tabpanel"]:focus::after {
	position: absolute;
	bottom: 0;
	right: -1px;
	left: -1px;
	border-bottom: 3px solid hsl(20, 96%, 48%);
	border-radius: 0 0 0.2em 0.2em;
	content: '';
}

[role="tabpanel"] p {
	margin: 0;
}

[role="tabpanel"] * + p {
	margin-top: 1em;
}
